.listGroup{
    width: 70%;
    margin: auto;
    padding-top: 5%;
}

.listGroupItem :hover{
    background-color: rgb(245, 245, 245);
}

.homeLayout{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url('/src/assets/Backgrounds/Background2.jpeg');
    height: 90vh;
}

.heading{
    color: White;
}