.container {
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/Backgrounds/Background1.jpg');
}

.formWrapper {  
    width: 60%;  
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.formGroup {
    margin-bottom: 30px;
}
